/*
    Color Recipe
*/
$blue   = #23ABFA
$white  = #fff
$orange = #FB8907
$pink   = #F25292
$purple = #7B5AFF
$red    = #FF4848
$black  = #313131
$green  = #04a17b
$grey   = #EAEAEA

/*
    Blue
*/
.blue
    background-color $blue

    &-text
        color $blue

/*
    White
*/
.white
    background-color $white

    &-text
        color $white

/*
    Orange
*/
.orange
    background-color $orange

    &-text
        color $orange

/*
    Pink
*/
.pink
    background-color $pink

    &-text
        color $pink

/*
    Purple
*/
.purple
    background-color $purple

    &-text
        color $purple

/*
    Red
*/
.red
    background-color $red

    &-text
        color $red

/*
    Black
*/
.black
    background-color $black

    &-text
        color $black

/*
    Green
*/
.green
    background-color $green

    &-text
        color $green

/*
    Grey
*/
.grey
    background-color $grey

    &-text
        color $grey