@import 'color.styl'
@import 'background.styl'
@import 'image.styl'

@font-face
    font-family Nunito
    src url(../webfonts/Nunito-Regular.ttf)

html, body
    padding 0
    margin 0
    font-family Nunito
